.mapContainer {
  /* background-color: mediumaquamarine; */
  height: 800px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.map-react {
  background-color: rgba(208, 214, 202, 0.342);
  height: 90%;
  width: 80%;
  border: 1px, solid, black;
}

.map {
  height: 100%;
  width: 100%;
}

#marker {
  width: 20px;
  height: 20px;
  border: 1px solid #088;
  border-radius: 10px;
  background-color: #0FF;
  opacity: 0.5;
}

.popup{
  height: 100vh;
  width: 100%;
  background-color: rgba(117, 112, 112, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  visibility: visible;
  display:  flex;
  justify-content: center;
  align-items: center;
}

.innerPopup{
  height: 90vh;
  width: 130vh;
 
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
  border-radius: 2%;
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.innerPopupContainer{
  height: 80%;
  width: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 2%;
  padding: 10vh;
  margin-bottom: 10px;

  display: flex;
  justify-content: left;
  flex-direction: column;
  
}

.calendarContainer{
  height: fit-content;
  width: fit-content;
  align-items: center;
  background-color: red;
}

.hourContainer{
  width: 1000px;
  height: 100px;
  margin-top: 5vh;


  display: grid;
  grid-template-columns: repeat(16, minmax(70px, 1fr));
  grid-gap: 3px;

  /* flex-direction: row;
  justify-content: space-evenly;
  padding-top: auto; */

}

.hourAvailable{
  height: 80%;

  color: white;
  background-color: rgb(51, 75, 214);
  border-radius: 2%;

  align-items: center;
  font-size:large;
  display: flex;
  justify-content: center;
}

.hourClicked{
  height: 80%;

  color: black;
  background-color: rgb(40, 228, 50);
  border-radius: 2%;

  align-items: center;
  font-size:large;
  display: flex;
  justify-content: center;
}

.hourTaken{
  height: 80%;

  color: black;
  background-color: rgb(189, 12, 12);
  border-radius: 2%;

  align-items: center;
  font-size:large;
  display: flex;
  justify-content: center;
}

.info{ 
  padding-right: 800px;
  float: left;
  align-items: left;
  align-content: left;

}